<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/static/styles.css" rel="stylesheet">
        <title>Workshop E3 IMAC</title>
    </head>

    <body>
        <div class="accueil">
            <h1>Liste d'étudiants</h1>
            <p class="accueil">L’objectif est de créer un serveur capable de stocker une liste d’étudiants, de leurs points forts (dev, montage, musique, dessin, etc). 
                <br>
                En recensant les talents de chaque étudiant, on pourra ensuite monter des groupes pour les projets, qui listeront les atouts de l’équipe.</p>
            <a class="accueil" href="/liste_etudiants"> Voir la liste des étudiants </a>
        </div>
    </body>

</html>