<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="styles/main.css" rel="stylesheet">
        <title>Workshop E3 IMAC</title>
    </head>

    <body>
        <h1>Liste d'étudiants</h1>
    
        <p>Voici la liste des étudiants inscrits :</p>
        <ul>

        <!-- Affichage de la liste des étudiants  -->
        <table>
            <thead>
                <tr>
                    <th>Numéro d'étudiant</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                </tr>
            </thead>
            <tbody>
                {% for etudiant in liste_etudiants %}
                    <tr>
                        <td>{{ etudiant["num_etudiant"] }}</td>
                        <td>{{ etudiant["nom"] }}</td>
                        <td>{{ etudiant["prenom"] }}</td>
                        <th style="border: 2px solid rgb(140 140 140)"><a href='/suppression/{{etudiant["num_etudiant"]}}'>Supprimer un jeu</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </body>
</html>