<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/static/styles.css" rel="stylesheet">
        <title>Workshop E3 IMAC</title>
    </head>

    <body>
        <h1>Liste d'étudiants</h1>
    
        <p>Voici la liste des étudiants inscrits :</p>
        <ul>

        <!-- Affichage de la liste des étudiants  -->
        <table>
            <thead>
                <tr>
                    <th>Numéro d'étudiant</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Talents</th>
                </tr>
            </thead>
            <tbody>
                {% for etudiant in liste_etudiants %}
                    <tr>
                        <td>{{ etudiant["num_etudiant"] }}</td>
                        <td>{{ etudiant["nom"] }}</t>
                        <td>{{ etudiant["prenom"] }}</td>
                        <td>
                            {% for talent_etud in liste_etudiants_talents %}
                                {% if talent_etud["num_etudiant"] == etudiant["num_etudiant"] %}
                                    {{ talent_etud["talent"] }} ,
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td style="border: 2px solid rgb(140 140 140)"><a href='/modification/{{etudiant["num_etudiant"]}}'>Modifier les Informations</a></td>
                        <td style="border: 2px solid rgb(140 140 140)"><a href='/suppression/{{etudiant["num_etudiant"]}}'>Supprimer un étudiant</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>

        <a href="/traitement">
            <button>Ajouter un étudiant</button>
        </a>
        
    </body>
</html>