<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/static/styles.css" rel="stylesheet">
        <title>Workshop E3 IMAC</title>
    </head>

    <body>
        <h1>Liste talents de l'étudiant {{num_etud}}</h1>
        
        
        <form action="/changement_talents" method="post">
            <label for="num_etud">Numéro d'étudiant</label>
            <input type="number" name="num_etud" id="num_etud" value='{{num_etud}}' readonly/>
            {% for talent in liste_talents %}
                {% if talent[0] in liste_possede %}
                    <input type="checkbox" name='talents' id='{{talent[0]}}' value="{{talent[0]}}" checked/> {{talent[1]}}
                    <br>
                {% else %}
                    <input type="checkbox" name='talents' id='{{talent[0]}}' value="{{talent[0]}}"/> {{talent[1]}}
                    <br>
                {% endif %}
            {% endfor %}
            <input type="submit"></input>
        </form>
        
    </body>
</html>